@media (prefers-color-scheme: dark) {
    html, .bprincipal {
        background: #1A1A1A !important;
    }

    .navbar, .bsecondaire {
        background: #2E2E2E !important;
    }

    .tprincipal {
        color: #E5E5E5 !important;
        font-family: "Pirata One", system-ui;
    }

    .tsecondaire {
        color: #BFBFBF !important;
        font-family: "Pirata One", system-ui;
    }
}

.button {
    font-family: "Pirata One", system-ui;
}

.logo {
    width: auto !important;
    height: 64px !important;
    max-height: none !important;
}

.grand-logo {
    width: auto !important;
    height: 128px !important;
    max-height: none !important;
}

.aligneBas {
    margin-bottom: -25px; /*effet image qui depasse de la navbar*/
}

.aligneHaut {
    margin-top: -120px; /*effet image qui depasse de la navbar*/
}

.boutonOr {
    color: #E5E5E5 !important;
    background: #c4975e !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pt-7 {
    padding-top: 5rem;
}

.pt-8 {
    padding-top: 7rem;
}

.pt-large {
    padding-top: 12rem;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E5E5E5;
}